body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-2xl: 21px;

  /* Colors */
  --color-white: #fff;
  --color-royalblue: #566aef;
  --color-gray-100: rgba(255, 255, 255, 0);
  --color-lightgray: #ccc;
  --color-black: #000;
  --color-slategray: #697882;
  --color-darkgray: #a6a6a6;

  /* Gaps */
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-3xs: 10px;
  --gap-2xl: 21px;

  /* Paddings */
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-3xl: 22px;
  --padding-21xl: 40px;
  --padding-xl: 20px;

  /* border radiuses */
  --br-41xl: 60px;
  --br-9xs: 4px;
  --br-81xl: 100px;
  --br-mini: 15px;
  --br-4xs: 9px;
}
