body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-9xl: 28px;
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-13xl: 32px;
  --font-size-base: 16px;
  --font-size-2xl: 21px;

  /* Colors */
  --color-white: #fff;
  --color-gray-200: #0c0b0b;
  --color-gray-300: rgba(255, 255, 255, 0);
  --color-royalblue: #566aef;
  --color-lightgray: #ccc;
  --color-black: #000;
  --color-slategray: #697882;
  --color-ghostwhite: #f0f2ff;
  --color-darkgray: #a6a6a6;
  --color-dimgray: #4d4d4d;
  --color-whitesmoke-100: #ececec;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-11xs: 2px;
  --gap-9xl: 28px;
  --gap-2xl: 21px;
  --gap-3xs: 10px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-13xl: 32px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-3xl: 22px;
  --padding-28xl: 47px;
  --padding-17xl: 36px;
  --padding-21xl: 40px;
  --padding-xl: 20px;

  /* border radiuses */
  --br-41xl: 60px;
  --br-9xs: 4px;
  --br-81xl: 100px;
  --br-mini: 15px;
  --br-4xs: 9px;
  --br-lgi: 19px;
  --br-smi: 13px;
}
